<div class="container-fluid" >
  <div>
    <h3  id="headerLable">Enter General Informations For Survey<br></h3>
  </div>
  <form #giPost="ngForm" (ngSubmit)="onSubmit(giPost.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" #name="ngModel" [class.is-valid]="name.invalid && name.touched" maxlength="30" id="name"
      required [(ngModel)]="giPost.name" class="form-control" [class.is-invalid]>
    </div>
    <div class="form-group">
      <label for="startDate">Last Name</label>
      <input type="date" name="startDate" #startDate="ngModel" [class.is-valid]="startDate.invalid && startDate.touched" maxlength="30" id="startDate"
         required [(ngModel)]="giPost.startDate" class="form-control" [class.is-invalid]>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" name="endDate" #endDate="ngModel" [class.is-valid]="endDate.invalid && endDate.touched" id="endDate"
         required [(ngModel)]="giPost.endDate" class="form-control" [class.is-invalid]>
    </div>
    <br />
    <div>
      <button type="submit" class="btn btn-primary" name="submit" id="submit">Enter
        <br />
      </button>
      <button type="button" class="btn btn-secondary" name="cancel" id="cancel" (click)="OnCancel()">Cancel
        <br />
      </button>
    </div>
  </form>
</div>