<div class="container-fluid">
  <div>
    <h3 id="headerLable">Add new Question<br></h3>
  </div>
  <form [formGroup]="questionsFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" formControlName="question" name="question" id="question" 
      [ngClass]="{ 'is-invalid': submited && f.question.errors}"/>
      <div *ngIf="f.question.touched">
        <small *ngIf="questionControl.errors?.required" class="text-danger">Required</small>
      </div>
    </div>
    <br />
    <label>Answers</label>

    <button type="button" class="btn btn-outline-dark" (click)="addAnswer()">+</button>
    <br />
    <div class="form-check mb-3" formArrayName="answers" *ngFor="let answer of answers.controls; let i=index">
      <div>
        <label>Answer {{i+1}}</label>
        <input type="text" class="form-control" [formControlName]="i"
        [ngClass]="{ 'is-invalid': submited && getValidity(i)}">
        <div *ngIf="!getTouch(i)">
          <small *ngIf="getValidity(i)?.required" class="text-danger">Required</small>
        </div>
      </div>
    </div>
    <div>
      <button [disabled]="!questionsFormGroup.valid" type="submit" class="btn btn-primary" name="submit" id="submit">Enter
        <br />
      </button>
      <button type="button" class="btn btn-secondary" name="cancel" id="cancel" (click)="OnCancel()">Cancel
        <br />
      </button>
    </div>
  </form>
</div>