<div class="container-fluid">
  <div>
    <h3 id="headerLable">Add new Question<br></h3>
  </div>
  <form [formGroup]="questionsFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" formControlName="question" name="question"maxlength="30" id="question" >
    </div>
    <div class="form-check mb-3" *ngFor="let answer of answers; let i = index;" formGroupName="answers">
      <input type="checkbox" formControlName="answer" name="{{answer.text}}" class="form-check-input">
      <label class="form-check-lable">{{answer.text}}</label>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" question="submit" id="submit">Enter
        <br />
      </button>
      <button type="button" class="btn btn-secondary" question="cancel" id="cancel" (click)="OnCancel()">Cancel
        <br />
      </button>
    </div>
  </form>
</div>