<div class="container-fluid">
  <div>
    <h3 id="headerLable">Enter General Informations For Survey<br></h3>
  </div>
  <form [formGroup]="surveyFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" name="name" maxlength="30" class="form-control"
        [ngClass]="{ 'is-invalid': submited && f.name.errors}">
      <div *ngIf="f.name.touched">
        <small *ngIf="f.name.errors?.required" class="text-danger">Required</small>
      </div>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" formControlName="startDate" name="startDate" class="form-control"
        [ngClass]="{ 'is-invalid': submited && f.startDate.errors}" />
      <div *ngIf="f.startDate.touched">
        <small *ngIf="f.startDate.errors?.required" class="text-danger">Required</small>
        <small *ngIf="surveyFormGroup.errors?.invaineFrom" class="text-danger">
          Select a date Over today</small>
      </div>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" formControlName="endDate" name="endDate" class="form-control"
        [ngClass]="{ 'is-invalid': submited && f.endDate.errors}" />
      <div *ngIf="f.endDate.touched">
        <small *ngIf="endDate.errors?.required" class="text-danger">Required</small>
        <small *ngIf="surveyFormGroup.errors?.invaineTo" class="text-danger">
          choose a date over today</small>
        <small *ngIf="surveyFormGroup.errors?.dates" class="text-danger">
          End Date should be grater than start Date</small>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" formControlName="question" name="question" maxlength="30" id="question">
    </div>
    <br />
    <label>Answers</label>

    <button type="button" class="btn btn-outline-dark" (click)="addAnswer()">+</button>
    <br />
    <div class="form-check mb-3" formArrayName="answers" *ngFor="let answer of answers.controls; let i=index">
      <div>
        <label>Answer {{i+1}}</label>
        <input type="text" class="form-control" [formControlName]="i" [ngClass]="{ 'is-invalid': submitted}">
      </div>
    </div>
    <br />
    <div>
      <button type="submit" class="btn btn-primary" name="submit" id="submit">Enter
        <br />
      </button>
      <button type="button" class="btn btn-secondary" name="cancel" id="cancel" (click)="OnCancel()">Cancel
        <br />
      </button>
    </div>
  </form>
</div>