/****** Object:  Table [dbo].[Account]    Script Date: 11.6.2021. 12.40.50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[accountTypeId] [int] NULL,
	[customerId] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 11.6.2021. 12.40.50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[accountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[type] [char](50) NULL,
 CONSTRAINT [PK_AccountType] PRIMARY KEY CLUSTERED 
(
	[accountTypeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11.6.2021. 12.40.50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [char](50) NULL,
	[lastName] [char](50) NULL,
	[jmbg] [char](13) NULL,
	[city] [char](50) NULL,
	[postalCode] [char](50) NULL,
	[address] [char](50) NULL,
	[houseNumber] [char](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 11.6.2021. 12.40.50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 11.6.2021. 12.40.50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transactionId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[value] [float] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountId], [accountTypeId], [customerId]) VALUES (1, 1, 1)
INSERT [dbo].[Account] ([accountId], [accountTypeId], [customerId]) VALUES (2, 1, 2)
INSERT [dbo].[Account] ([accountId], [accountTypeId], [customerId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountType] ON 

INSERT [dbo].[AccountType] ([accountTypeId], [type]) VALUES (1, N'Current                                           ')
INSERT [dbo].[AccountType] ([accountTypeId], [type]) VALUES (2, N'Saving                                            ')
INSERT [dbo].[AccountType] ([accountTypeId], [type]) VALUES (3, N'Overdraft                                         ')
SET IDENTITY_INSERT [dbo].[AccountType] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerId], [firstName], [lastName], [jmbg], [city], [postalCode], [address], [houseNumber]) VALUES (1, N'Marko                                             ', N'Popovic                                           ', N'123141231    ', N'Priboj                                            ', N'31330                                             ', N'limska                                            ', N'38                                                ')
INSERT [dbo].[Customer] ([customerId], [firstName], [lastName], [jmbg], [city], [postalCode], [address], [houseNumber]) VALUES (2, N'Dragan                                            ', N'Popovic                                           ', N'123141212    ', N'Priboj                                            ', N'31330                                             ', N'Limska                                            ', N'38                                                ')
INSERT [dbo].[Customer] ([customerId], [firstName], [lastName], [jmbg], [city], [postalCode], [address], [houseNumber]) VALUES (3, N'Zorica                                            ', N'Popovic                                           ', N'41231233     ', N'Priboj                                            ', N'31331                                             ', N'asdasd                                            ', N'123                                               ')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([transactionId], [accountId], [value]) VALUES (1, 1, 35000)
INSERT [dbo].[Transaction] ([transactionId], [accountId], [value]) VALUES (2, 2, 45000)
INSERT [dbo].[Transaction] ([transactionId], [accountId], [value]) VALUES (3, 1, 50000)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 11.6.2021. 12.40.58 ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountType] FOREIGN KEY([accountTypeId])
REFERENCES [dbo].[AccountType] ([accountTypeId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountType]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Customer]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Account] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Account]
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
