
<h4  class="col-md-12 col-form-label">{{data.question.questionText}}</h4>
<div class="col-md-9 row" >
 
    <div class="col-sm">
  <input type="text"  class="form-control"  id="question" style="font-weight: bold;" [(ngModel)]="answertext" placeholder="Enter new answer" > 
  </div>
  <div class="col-sm">
  <button class="btn btn-primary "  (click)="OnAddAnswer()">Add</button>
  </div>
</div>
<div *ngFor="let answer of q.offeredAnswers">
  <p style="margin-left: 2%;" class="col-md-12 col-form-label">{{answer.text}}</p>
</div>
<div style="margin-top: 3%;">
<button class="btn btn-primary"  (click)="onNoClick()">Cancel</button>
    <button class="btn btn-primary " (click)="save()" cdkFocusInitial>Save</button>
  </div>