<div class="card  shadow-sm" style="width: 100rem;">
  <nav class="col-sm-12 navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
     Create Survey
    </a>
    </nav>
<div class="card-body">
  <div class="row">
    <div clas="GenerelInformations" style="width: 40%;">
      <h6 style="margin-left: 2.2%;">General Informations</h6>
      <div   [formGroup]="newFormGroup">
        <label for="name" class="col-md-3 col-form-label">Name:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" formControlName="name" id="name" style="font-weight: bold;"  >
        </div>

    
        <label for="startDate" class="col-md-3 col-form-label">Start Date:</label>
        <div class="col-md-6">
          <input   type="date" class="form-control" formControlName="startDate" id="startDate" style="font-weight: bold;"  >
        </div>

      
      
    
        <label for="endDate" class="col-md-3 col-form-label">End Date:</label>
        <div class="col-md-6">
          <input   type="date" class="form-control" formControlName="endDate" id="endDate" style="font-weight: bold;"  >
        </div>
      </div>
    </div>

    <div class="AddQuestion" style="width: 60%;">
      <h6 style="margin-left: 2.2%;">Questions</h6>
      <label for="question" class="col-md-3 col-form-label">Question:</label>
      <div class="col-md-9 row" >
        <div class="col-sm">
        <input type="text"  class="form-control"  id="question" style="font-weight: bold;" [(ngModel)]="question"  > 
      </div>
        <div class="col-sm">
        <button  (click)="OnAdd()" class="btn btn-primary ">Add</button>
      </div>
      </div>

      <div *ngFor="let question of survey.questions">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">{{question.questionText}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Offered answers</h6>
            <div class="card-text">
              <div *ngFor="let answer of question.offeredAnswers">
                <p style="margin-left: 2%;" class="col-md-12 col-form-label">{{answer.text}}</p>
              </div>

            </div>
            <button class="btn btn-primary " (click)="OnAddAnswer(question)">Add answer</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<button type="submit" (click)="OnSubmit()" class="btn btn-primary btn-lg btn-block">Save</button>
</div>