.app-header{
    background-color: rgb(25, 66, 245);
    border-radius: 30px;
    height: auto;
}

.app-logo{
    font-weight: 1000;
    font-size: 1.5rem;
    margin: 0 30px;
    color: white;
}

.link{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}